{{#if currencies}}
<div id="cc_lb" class="col-md-6 order-md-1">
    <form class="card p-2">
        <div class="input-group">
            <div class="input-group-append">
                <select class="custom-select d-block w-100" required>
                {{#each currencies}}
                    <option value="{{id}}">{{id}}</option>
                {{/each}}
                </select>
            </div>
            <input type="number" class="form-control" placeholder="0.00" v-model="fromCurrency" v-on:keyUp="convertAmount">
        </div>
    </form>
</div><!-- The left dropdown box should be injected inside the block -->

<div id="cc_rb" class="col-md-6 order-md-1">
    <form class="card p-2">
        <div class="input-group">
            <div class="input-group-append">
                <select class="custom-select d-block w-100" required>
                {{#each currencies}}
                    <option value="{{id}}">{{id}}</option>
                {{/each}}
                </select>
            </div>
            <input type="number" class="form-control" placeholder="0.00" v-model="toCurrency" v-on:keyUp="convertAmount">
        </div>
    </form>
</div><!-- The right dropdown box should be injected inside the block -->
<!--div class="overlay" style="background: rgba(0, 0, 0, 0.3); position: relative; width: 100%; height: 100%; z-index: 2000;">

</div-->
{{else}}
<div class="loader">
    Loading panel...
</div>
{{/if}}